.app {
  margin-top: -4rem;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .question{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2.25rem;
    font-weight: bold;
  }
  .buttons{
    display: flex;
    align-items: center;

    .yes-button{
      margin-right: 1rem;
      margin-left: 1rem;
      background-color: #10B981;
      padding: 0.5rem 1rem;
      font-weight: bold;
      color: white;
      transition: background-color 0.3s;
      &:hover{
        background-color: #047857;
      }
      
    }
    .no-button{
      border-radius: 0.25rem;
      background-color: #EF4444;
      padding: 0.5rem 1rem;
      font-weight: bold;
      color: white;
      transition: background-color 0.3s;
      &:hover{
        background-color: #B91C1C;
      }
    }
  }
  .waiting{
    height: 200px;
  }
}
/* Global Styles (e.g., in App.css or index.css) */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

